
.nav {
    width:100%;
    border-bottom:2.5px solid #00000012;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}

.nav-wrapper{
    padding:25px;
    font-size:15px;
    display:flex;
    flex-flow: row nowrap;
    width:100%
}

.Logo{
    color:#6c63ff
}



.nav .log-section , .nav .rest-section {
    display:flex;
    flex-flow:row nowrap
}


.img-wrapper > img{width:90px; height:90px}

.nav .logo-section{width:30%; align-items:center}

.nav .rest-section{width:70%; list-style-type:none;  padding:0px 30px 0px 30px;gap:15%; justify-content:flex-end; align-items:center;}

.nav .rest-section  li , .nav-mob  li{
    cursor:pointer;
    transition:150ms ease-in-out
}


.nav .rest-section > li:hover , .nav-mob  > li:hover{
    color:#6c63ff
}

.nav-mob {
    display:none;
    list-style-type:none;
    font-size:15px;
}

.mob-div{
    display:none
}

.nav-mob > li , .nav-mob span{padding:25px;}


@media(max-width:1050px){
    .nav .rest-section > li ,.nav .rest-section > span {
        display:none;
    }

    .nav-mob{
        display:block
    }

    .mob-div{
        display:block;
    }
}