.Content-Profile{flex:1 0 auto; display:flex; flex-flow:column nowrap; align-items:center;  padding:20px; background:#00000003 }

.Profile-Basic , .Edit-Container {
   display:flex;
   margin-top:20px;
   flex-flow:column nowrap;
   padding:20px;
   width:60%;
   background:white;
   border:2px solid #00000014;
   box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
 
}

.basic-flex{display:flex; gap:3%;  align-items:center; width:100%}

.basic-flex{line-height:1.5}

.img-container{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    background: #00000054;
}

.img-container >img{width:100%; height:100%; border-radius:100%;}


.contact-info{
    padding: 20px;
    background: #fafafb;
    margin-top: 3%;
    border: 2px solid #00000008;
    line-height:2;
}

.contact-info > h4 > span{
    color:#6c63ff !important;
}





.form-profile{
    background:white;
    border:none !important;
    display:flex;
    flex-flow:column nowrap;
    padding:20px;
}

.form-profile input {
    background:#d8d8dd36;
    color:black;
}
.form-profile::placeholder  {
    color: rgb(8 0 0 / 58%);
    opacity: 1; /* Firefox */

}



@media(max-width:1050px){
    .Profile-Basic , .Edit-Container {
        width:95%;
     }
}